/**
 * File       : promotion.css
 * Author     : m-sync (baeyoungseop, leeserin)
 */

@charset "utf-8";

.mo_br {
    display: none;
}
.main_visual {
    background: #c1a798;
    position: relative;
    overflow: hidden;
}
.main_visual_inner {
    max-width: 1080px;
    height: 100vh;
    height: -moz-calc((var(--vh, 1vh) * 100));
    height: calc((var(--vh, 1vh) * 100));
    width: 100%;
    margin: 0 auto;
    padding: 0 24px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
}
.main_visual_inner .main_visual_text {
    position: relative;
    z-index: 2;
}
.main_visual_inner .main_visual_text > *{
    display: block;
    color: #333;
}
.main_visual_inner .main_visual_text span {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0
}
.main_visual_inner .main_visual_text p {
    font-size: 19px;
    font-weight: 500;
}
.main_visual_inner .main_visual_text h2 {
    font-size: 51px;
    font-weight: bold;
}
.main_video_thumb {
    position: absolute;
    max-width: 380px;
    width: 100%;
    height: 100%;
    max-height: -moz-calc(100vh - 40px);
    max-height: calc(100vh - 40px);
    height: -moz-calc((var(--vh, 1vh) * 100) - 40px);
    height: calc((var(--vh, 1vh) * 100) - 40px);
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 1;
    overflow: hidden;
}
.main_video_thumb .video_thumb_inner {
    width: 100%;
    padding-bottom: 177.77%;
    /* background: #000; */
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background: url(../images/promotion/video_thumb.jpg) no-repeat center center;
    -moz-background-size: cover;
         background-size: cover;
    -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.12);
       -moz-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.12);
            box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.12);
}
.btn_play {
    position: absolute;
    width: 89px;
    height: 89px;
    background: url(../images/promotion/btn_play.png) no-repeat center center;
    -moz-background-size: cover;
         background-size: cover;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    cursor: pointer;
}
.main_visual .video_wrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 1;
    visibility: hidden;
}
.main_visual .video_wrap .video_wrap_inner {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
       -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
         -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
.main_visual .video_wrap .video_wrap_inner video {
    display: block;
    width: auto;
    height: 100vh;
    height: -moz-calc((var(--vh, 1vh) * 100));
    height: calc((var(--vh, 1vh) * 100));
}

.video_wrap .btn_close {
    position: absolute;
    left: 100%;
    top: 20px;
    width: 50px;
    height: 50px;
    background: url(../images/promotion/btn_close.png) no-repeat center center;
    -moz-background-size: cover;
         background-size: cover;
    margin-left: 20px;
    cursor: pointer;
    z-index: 9999;
}

.contact {
    padding: 45px 0;
}
.contact_inner {
    max-width: 1340px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.contact_title {
    text-align: center;
}
.contact_title h3 {
    font-size: 48px;
    letter-spacing: -0.025em;
    color: #c1a798;
    font-weight: 500;
    word-break: keep-all;
}
.contact_title p {
    font-size: 18px;
    font-weight: 500;
    color: #333;
    margin-top: 20px;
}

.contact_list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin: 80px -20px 0;
}
.contact_list .list {
    margin: 0 20px;
    width: -moz-calc(33.33% - 40px);
    width: calc(33.33% - 40px);
    background: #f7f7f7;
    -moz-border-radius: 50px;
         border-radius: 50px;
    padding: 5.4% 5.22%;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
       -moz-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}
.contact_list .list .list_inner {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
       -moz-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column wrap;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.contact_list .list .list_title h4 {
    font-size: 30px;
    font-weight: 500;
    color: #333;
}
.contact_list .list .list_title p {
    font-size: 18px;
    color: #8f8f8f;
    font-weight: 500;
    word-break: keep-all;
    margin-top: 25px;
}
.list_btn_wrap {
    margin-top: 50px;
}
.btn {
    height: 80px;
    -moz-border-radius: 46px;
         border-radius: 46px;
    margin-top: 28px;
    padding: 0 30px;
}
.btn:first-child {
    margin-top: 0;
}
.btn a {
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
}
.btn p {
    color: inherit;
    font-size: 18px;
    font-weight: 500;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
       -moz-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background: url(../images/promotion/arrow_right_white.png) no-repeat right center;
}
.btn p.dark {
    background-image: url(../images/promotion/arrow_right_dark.png);
}
.btn p.one {
    line-height: 100%;
    text-align: center;
    background: none;
}
.btn span {
    display: block;
    color: inherit;
    font-size: 12px;
    font-weight: 500;
}
.btn img.icon {
    display: block;
    margin-right: 15px;
    width: 28px;
}
.btn img.arrow {
    display: inline-block;
    margin-left: 15px;
    margin-top: -1px;
}
.contact_list .list .list_img {
    margin-bottom: 30px;
}

.over-19-popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 9999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 0 20px;
} 
.over-19-popup h5 {
    color: #fff;
    font-size: 32px;
    font-weight: 500;
}
.over-19-popup p {
    color: #fff;
    font-size: 22px;
    margin-top: 10px;
}
.over-19-popup .btn {
    margin-top: 0;
    width: 200px;
    height: 60px;
}
.over-19-popup .btn p {
    margin-top: 0;
}
.over-19-popup .list_btn_wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.over-19-popup .btn:first-child {
    margin-right: 45px;
}

.scr_circle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: #fff;
}
.scr_circle .circle {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 150px;
    height: 350%;
    background: #c1a798;
    -moz-border-radius: 100%;
         border-radius: 100%;
    z-index: 0;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
    cursor: pointer;
}
.scr_circle .inner_circle {
    position: absolute;
    width: 36px;
    height: 36px;
    left: 50%;
    bottom: 40px;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
    -moz-border-radius: 100%;
         border-radius: 100%;
    background: #333 url(../images/promotion/scroll_down.png) no-repeat center center;
    -moz-background-size: 14px;
         background-size: 14px;
    cursor: pointer;
}
.scr_circle .inner_circle:after {
    content: 'SCROLL';
    color: #333;
    font-size: 12px;
    letter-spacing: 0;
    font-weight: 500;
    position: absolute;
    left: 50%;
    bottom: 100%;
    margin-bottom: 15px;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
}

.iqos_notice {
    margin-top: 60px;
    font-size: 14px;
    color: #7b7b7b;
    text-align: center;
}


/**********************************************
 2020-01-06 프로모션 페이지 전체 수정 - leeserin 
 **********************************************/
input[type=checkbox]{
    opacity: 0;
}
#promotion{
    position: relative;
}
#promotion.active{
}
.contact{
    
}
.show_on_mobile{display: none;}
.show_on_tablet{display: none;}
.contact_title{
    margin-bottom: 55px;
}
.contact_title h3{
    color: #333;
    font-size: 32px;
    font-weight: 600;
    line-height: 46px;
    letter-spacing: -0.05em;
}
.contact_wrap{}
.contact_wrap .conbox_wrap{
    display: flex; 
    justify-content: space-between;
    margin-bottom: 30px;
}
.contact_wrap .conbox{
    width: 50%; 
    background-color: #f7f7f7;
    
}
.contact_wrap .con_bg{
    /* max-width: 670px; */
    padding-bottom: 51%;
    background: url(../images/promotion/contact_img_01.png) center no-repeat;
    background-size: cover;
}
.contact_wrap .conbox img{
    max-width: 100%;
}
.conbox .form_promo_wrap{
    padding: 7.14% 15% 7.1% 21%;
}
.conbox .form_promo_wrap h4{
    margin-bottom: 40px;
    color: #333;
    font-size: 26px;
    line-height: 38px;
    word-break: keep-all;
    
}
.conbox .form_promo_wrap h4 strong{
    color: #333;
    font-size: 26px;
    line-height: 38px;
    font-weight: 500;
}
.conbox .form_promo_wrap .form_promo_box{
}
.form_promo_wrap .form_promo{
    position: relative;
    width: 100%;
    height: 47px;
    margin-bottom: 15px;
    background: #fff;
}
.form_promo_wrap .form_promo input{
    width: 100%; 
    padding: 15px;
    background: none; 
    border-style: none;
    color: #8f8f8f;
    font-size: 16px;
    
}
.form_promo_wrap .form_promo input + label{
    position: absolute; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    padding: 15px; 
    letter-spacing: -0.05em;
    line-height: 100%;
} 
.checkbox_wrap{
}
.checkbox_wrap ul{}
.checkbox_wrap ul li{
    margin-top: 15px;
    
}
.checkbox_wrap ul li:first-of-type .chk_lbl{
    color: #333;   
}
.checkbox_wrap ul li:first-of-type .chk_lbl::before{
    border-color: #333;
}
.checkbox_wrap ul li input{
    display: none;
}
.checkbox_wrap ul li .chk_lbl{
    position: relative; 
    padding-left: 25px; 
    color: #8f8f8f;
    font-size: 16px;
    letter-spacing: -0.05em; 
    line-height: 100%;
    word-break: keep-all;
    cursor: pointer;
}
.checkbox_wrap ul li .chk_lbl::before{
    display: block;
    position: absolute; 
    left: 0; 
    top: 0;
    width: 15px; 
    height: 15px;
    margin-top: 3px;
    box-sizing: border-box;
    border: 1px solid #8f8f8f;
    content:'';
}
.checkbox_wrap ul li input:checked + .chk_lbl::before{
    background: url(../images/promotion/ico_checked.png) 0px 0.5px no-repeat 
}
.checkbox_adult{
    margin-top: 40px;
    margin-bottom: 20px;
}
.checkbox_adult ul li{
    padding-bottom: 18px;
    border-bottom: 1px solid #d2d2d2;
}
.contact_wrap .caption{}
.contact_wrap .caption p{
    color: #8f8f8f;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    word-break: keep-all;
}
.btn_coupon_wrap{
    margin-top: 40px;
}
.btn_coupon_wrap button{
    width: 309px;
    height: 80px;
    padding: 0 40px;
    background: #c1a798;
    border-radius: 40px;
    color: #fff;
    font-size: 18px;
    line-height: 80px;
}
.btn_coupon_wrap button span{
    display: inline-block;
    width: 12px;
    height: 20px;
    margin-top: 28px;
    margin-left: 10px;
    line-height: 80px;
}
.contact02{
    width: 100%;
    padding: 65px 0 57px;
    background: #f7f7f7;
}
.contact02 .contact_wrap{
    margin-top: 60px;
}
.contact02 .step_wrap{
    display: flex;
    justify-content: space-between;
    width: 830px;
    margin: 0 auto;

}
.contact02 .step{
    position: relative;
    width: calc(20% - 21px);
}
.contact02 .step:after {
    position: absolute;
    top: 50%;
    left: 100%;
    width: 10px;
    height: 18px;
    margin-left: 13px;
    background: url(../images/promotion/arrow_right_gray.png) center center no-repeat;
    background-size: 100%;
    transform: translate(-50%, -50%);
    content:'';
}
.contact02 .step:first-child{
    /* min-width: 150px; */
    /* margin-left: 0; */
}
.contact02 .step:first-child:after {
    /* margin-left: 40px; */
}
.contact02 .step:last-child:after{
    display: none;
}
.contact02 .step .step_bg{
    width: 100%;
    height: 121px;
    max-width: 121px;
    margin: 0 auto;
    padding: 32px 30px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
}
.contact02 .step .step_bg img{
    max-width: 100%;
    
}
.contact02 .step .step_caption{
    margin-top: 25px;
    text-align: center;
}
.contact02 .step .step_caption h5{
    margin-bottom: 15px;
    color: #8f8f8f;
    font-size: 16px;
    font-weight: 500;
}
.contact02 .step .step_caption p{
    color: #333;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}
.contact02 .contact_wrap .btn_link_wrap{
    margin-top: 47px;
}
.contact02 .contact_wrap .btn_link_wrap a{
   display: block;
   width: 309px;
   height: 80px;
   margin: 0 auto;
   background: #c1a798;
   border-radius: 40px;
   color: #fff;
   font-size: 18px;
   text-align: center;
   line-height: 80px;
}
.contact02 .contact_wrap .btn_link_wrap a span{
    display: inline-block;
    width: 12px;
    height: 20px;
    margin-top: 28px;
    margin-left: 10px;
    line-height: 80px;
}
.contact02 .contact_wrap .btn_link_wrap a span img{
    max-width: 100%;
}

.checkbox_popup{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,0.6);
    
}
.checkbox_popup .checkbox_popup_inner{
    width: 420px;
    height: 100%;
    max-height: 535px;
}
.checkbox_popup .popup_title{
    background: #fff;
    border-bottom: 1px solid #000;
}
.checkbox_popup .popup_title .title_wrap{
   position: relative;
   padding: 20px;
    
}
.checkbox_popup .popup_title .title_wrap p{
    color: #000;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
}
.checkbox_popup .popup_title .title_wrap .close{
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    background: url(../images/promotion/btn_close_02.png) 0 0 no-repeat;
    background-size: cover;
    cursor: pointer;
}
.checkbox_popup .contents{
    overflow-y: scroll;
    background: #fff;
}
.checkbox_popup .contents ul{}
.checkbox_popup .contents ul li{
    position: relative;
    padding: 15px 20px;
    border-bottom: 1px solid #000;
    cursor: pointer;
}
.checkbox_popup .contents ul li input{}
.checkbox_popup .contents ul li label{
    padding-left: 30px;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}
.checkbox_popup .contents ul li .chk_lbl::before{
    display: block;
    position: absolute;
    left: 21px; 
    top: 50%;
    transform: translateY(-50%);
    width: 22px;
    height: 22px;
    background: #fff;
    border-radius: 50%;
    border: 1px solid #000;
    content: '';
}
.checkbox_popup .contents ul li input:checked + .chk_lbl::before{
    background: url(../images/promotion/pop_checked.png) 0 0 no-repeat;
    background-size: cover;
}
.checkbox_popup .contents ul li.active{
    background: #000;
}
.checkbox_popup .contents ul li.active label{
    color:#fff;
}

.checkbox_popup .contents .caption_wrap{
    
}
.checkbox_popup .contents .caption_wrap .caption{
    disp lay: none;
    padding: 25px 23px; 
}
.checkbox_popup .contents .caption_wrap .caption p{
    color: #000;
    font-size: 16px;
    line-height: 24px;
}
.checkbox_popup .contents .caption_wrap .caption:first-of-type{
    dis play: block;
}


/* 푸터 */
#footer{}
#footer .footer_inner{
    max-width: 1350px;
    width: 100%; 
    margin: 0 auto;
    padding: 45px 20px; 
}
#footer .ft_con_wrap{
    display: flex;
    justify-content: space-between;
}
#footer .ft_con_wrap .service{}
#footer .ft_con_wrap .service h3{
    margin-bottom: 23px;
    color: #333;
    font-size: 25.85px;
}
#footer .ft_con_wrap .service ul{}
#footer .ft_con_wrap .service ul li{
}
#footer .ft_con_wrap .service ul li p{
    padding-left: 42px;
    
    color: #333;
    font-size: 16px;
    line-height: 28px;
}
#footer .ft_con_wrap .service ul .tel{
    margin-bottom: 8px;
}
#footer .ft_con_wrap .service ul .tel p{
    background: url(../images/promotion/ico_tel.png) 0 0 no-repeat;
    background-size: 28px;
}
#footer .ft_con_wrap .service ul .kakao p{
    background: url(../images/promotion/ico_kakao_01.png) 0 0 no-repeat;
    background-size: 28px;
}
#footer .ft_con_wrap .caption{
}
#footer .ft_con_wrap .caption p{
    margin-bottom: 58px;
    color: #8f8f8f;
    font-size: 26px;
}
#footer .ft_con_wrap .caption .logo_bg{
    float: right;
    width: 95px;
    height: 24px;
    background: url(../images/promotion/logo.png) 0 0 no-repeat;
}

@media screen and (max-width: 1357px) {
    .contact_inner {
        padding: 0 40px;
    }
    .contact_list .list {
        padding: 5% 2.5%;
    }
}

@media screen and (max-width: 1357px){
    .checkbox_wrap ul li .chk_lbl {
        line-height: 24px;
    }
}

@media screen and (max-width: 1100px) {
    .contact_list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-flow: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-flow: column;
                flex-flow: column;
        margin-left: 0;
        margin-right: 0;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .contact_list .list {
        max-width: 768px;
        width: 100%;
        margin-top: 40px;
        margin-left: 0;
        margin-right: 0;
        padding: 5%;
    }
    .contact_list .list:first-child {
        margin-top: 0;
    }
}
@media screen and (max-width: 1024px){
    .show_on_tablet{
        display: block;
    }
    .contact_title{
        margin-bottom: 26px;
    }
    .contact_wrap .conbox_wrap{
        display: block;
    }
    .contact_wrap .conbox{
        width: 100%;
    }
    
    .contact_wrap .con_bg{
        max-width: 100%;
        padding-bottom: 70.83%;
        background-position: center 69%;
    }
    .conbox .form_promo_wrap {
        padding: 9.2% 6% 8.9% 4.3%;
    }
    .conbox .form_promo_wrap h4{
        margin-bottom: 26px;
    }
    .conbox .form_promo_wrap h4 strong{
        
    }
    .conbox .form_promo_wrap .form_promo_box{
        
    }
    .checkbox_adult{
        margin-top: 28px;
    }
    .btn_coupon_wrap {
        margin-top: 28px;
        text-align: center;
    }
    .btn_coupon_wrap button{
        height: 56px;
        line-height: 56px;
    }
    .btn_coupon_wrap button span{
        margin-top: 17px;
    }
    .contact02{
        padding: 43px 0;
    }
    .contact02 .contact_wrap{
        margin-top: 33px;
    }
    .contact02 .step_wrap{
        width: 100%;
    }
    .contact02 .step{
        
        margin-left: 0;
    }
    .contact02 .contact_wrap .btn_link_wrap{
        margin-top: 40px;
    }
    .contact02 .contact_wrap .btn_link_wrap a{
        height: 56px;
        line-height: 56px;
    }
    .contact02 .contact_wrap .btn_link_wrap a span{
        margin-top: 17px;
    }
    #footer .footer_inner{
        padding: 45px 40px;
    }     
    #footer .ft_con_wrap .caption {
        width: 47%;
    }
    #footer .ft_con_wrap .caption p {
        font-size: 23px;
    }
}
@media screen and (max-width: 768px) {
    .mo_br {
        display: block;
    }
    .main_visual_inner {
        display: block;
        padding: 45px 35px;
    }
    .main_visual_inner .main_visual_text {
        text-align: center;
    }
    .main_visual_inner .main_visual_text p {
        font-size: 18px;
    }
    .main_visual_inner .main_visual_text h2 {
        font-size: 32px;
        margin-top: 15px;
    }
    .main_video_thumb {
        position: relative;
        -webkit-transform: none;
           -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                transform: none;
        max-width: none;
        width: -moz-calc(100% + 70px);
        width: calc(100% + 70px);
        max-height: none;
        height: -moz-calc(100vh - 306px);
        height: calc(100vh - 306px);
        height: -moz-calc((var(--vh, 1vh) * 100) - 206px);
        height: -moz-calc((var(--vh, 1vh) * 100) - 306px);
        height: calc((var(--vh, 1vh) * 100) - 306px);
        margin-left: -35px;
        margin-top: 45px;
        left: 0;
        top: 0;
    }
    .main_video_thumb .video_thumb_inner {
        padding: 0;
        height: 100%;
    }
    .btn_play {
        width: 80px;
        height: 80px;
    }
    .video_wrap .btn_close {
        margin-left: 0;
        left: auto;
        right: 0;
        margin-right: 20px;
    }
    /* .contact {
        padding: 40px 0;
    } */
    .contact_inner {
        padding: 0 20px;
    }
    /*
     .contact_list {
        margin-top: 40px;
    }
    .contact_title h3 {
        font-size: 32px;
    }
    .contact_title p {
        font-size: 17px;
        margin-top: 20px;
    }
    .contact_list .list {
        padding: 40px 35px;
        margin-top: 20px;
    }
    .contact_list .list .list_title h4 {
        font-size: 26px;
    }
    .contact_list .list .list_title p {
        font-size: 14px;
        margin-top: 15px;
    }
    .list_btn_wrap {
        margin-top: 30px;
    }
    .btn {
        height: 70px;
        margin-top: 20px;
    }
    */
    /* .btn span {
        display: none;
    } */
    /* .btn p {
        font-size: 18px;
        -moz-background-size: 10px;
             background-size: 10px;
    }
    .btn img.icon {
        width: 25px;
    }
    .btn img.arrow {
        width: 10px;
    }
    .contact_list .list .list_img {
        display: none;
    }
    */

    .over-19-popup h5 {
        font-size: 26px;
    }
    .over-19-popup p {
        font-size: 12px;
        margin-top: 20px;
    }
    .over-19-popup .btn {
        max-width: 140px;
        height: 40px;
    }
    .over-19-popup .btn:first-child {
        margin-right: 18px;
    }
    .over-19-popup .btn img.arrow {
        margin-top: -3px;
    }

    

    .scr_circle .inner_circle {
        width: 44px;
        height: 44px;
        bottom: 30px;
        -moz-background-size: 16px;
             background-size: 16px;
    }
    .scr_circle .inner_circle:after {
        content: none;
    }
    .iqos_notice {
        margin-top: 40px;
    }  
    
    
    /************************************************** 
        2020-01-06 컨텐츠 내용 추가 및 대여 폼 추가
        (leeserin)
    **************************************************/


    .show_on_mobile{
        display: block;
    }
    .contact{
        padding: 30px 0 55px; 
    }
    .contact_title{
        margin-bottom: 25px;
    }
    .contact_title h3{
        font-size: 23px;
        line-height: 32px;
    }
    .contact_wrap .conbox_wrap{
        display: block;
    }
    .contact_wrap .conbox{
        width: 100%;
    }
    .contact_wrap .con_bg{
    }
    .conbox .form_promo_wrap{
        padding: 9.2% 6% 8.9% 4.3%;
    }
    .conbox .form_promo_wrap h4{
        margin-bottom: 28px;
        font-size: 20px;
        line-height: 26px;
    }
    .conbox .form_promo_wrap h4 strong{
        font-size: 20px;
        line-height: 26px;
    }
    .conbox .form_promo_wrap .form_promo_box{
        width: 100%;
    }
    .form_promo_wrap .form_promo{
        margin-bottom: 12.5px;
    }
    .form_promo_wrap .form_promo input{
        font-size: 12px;
    }
    .checkbox_adult{
        margin-top: 27px;
        margin-bottom: 13px;
    }
    .checkbox_adult ul li{
        padding-bottom: 13px;
    }
    .checkbox_wrap.checkbox_adult ul li .chk_lbl::before{
        margin-top: 1px;
    }
    .checkbox_wrap ul li .chk_lbl{
        padding-left: 23px;
        font-size: 12px;
    }
    .checkbox_wrap ul li .chk_lbl::before{
        width: 12px;
        height: 12px;
        margin-top: 1px;
    }
    .checkbox_wrap ul li input:checked + .chk_lbl::before {
        background: url(../images/promotion/ico_checked.png) 0.5px 0.5px no-repeat;
        background-size: 8px;
    }
    .btn_coupon_wrap{
        margin-top: 27.5px;
        text-align: center;
    }
    .btn_coupon_wrap button{
        width: calc(100% - 48px);
        height: 56px;
        padding: 0 20px;
        font-size: 13px;
        line-height: 56px;
    }
    .btn_coupon_wrap button span{
        width: 9px;
        height: 13px;
        margin-top: 19px;
        margin-left: 8px;
        line-height: 56px;
    }
    .contact_wrap .caption p{
        margin-bottom: 14px;
        padding: 0 18px;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
    }
    .contact02{
        padding: 44px 0 46px;
    }
    .contact02 .contact_wrap{
        margin-top: 33px;
    }
    .contact02 .step_wrap{
        display: block;
        width: 100%;
    }
    .contact02 .step{
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 288px;
        margin: 0 auto 20px;
    }
    .contact02 .step:last-child{
        margin-bottom: 0;
    }
    .contact02 .step:after{
        display: none;
    }
    
    .contact02 .step .step_bg{
        width: 50%;
        height: 128px;
        max-width: 128px;
        /* margin: 0 7px 0 35px; */
        margin: 0 auto;
        padding: 33px;
    }
    .contact02 .step .step_caption{
        width: 50%;
        margin-top: 36px;
        padding-left: 18.5px;
        text-align: left;
    }
    .contact02 .step .step_caption h5{
        margin-bottom: 10px;
        font-size: 12px;
    }
    .contact02 .step .step_caption p{
        font-size: 13px;
    }
    .contact02 .contact_wrap .btn_link_wrap{
        margin-top: 40px;
    }
    .contact02 .contact_wrap .btn_link_wrap a{
        width: calc(100% - 108px);
        height: 56px;
        font-size: 13px;
        line-height: 56px;
    }
    .contact02 .contact_wrap .btn_link_wrap a span{
        width: 9px;
        height: 13px;
        margin-top: 19px;
        margin-left: 8px;
        line-height: 56px;
    }

    .checkbox_popup .checkbox_popup_inner {
        width: 80%;
        height: 50vh;
        /* max-height: 535px; */
    }
    .checkbox_popup .popup_title .title_wrap {
        padding: 10px;
    }
    .checkbox_popup .popup_title .title_wrap p {
        font-size: 16px;
        line-height: 16px;
    }
    .checkbox_popup .popup_title .title_wrap .close {
        right: 14px;
        width: 10px;
        height: 10px;
    }
    .checkbox_popup .contents ul li {
        padding: 11px 14px;
    }
    .checkbox_popup .contents ul li label {
        padding-left: 20px;
        font-size: 12px;
        line-height: 16px;
    }
    .checkbox_popup .contents ul li .chk_lbl::before {
        left: 15px;
        width: 12px;
        height: 12px;
    }
    .checkbox_popup .contents .caption_wrap .caption {
        padding: 15px 13px;
    }
    .checkbox_popup .contents .caption_wrap .caption p {
        font-size: 12px;
        line-height: 19px;
    }


    #footer .footer_inner{
        width: 100%;
        padding: 36px 20px;
    }
    #footer .ft_con_wrap{
        display: block;
    }
    #footer .ft_con_wrap .service{
        margin-bottom: 30px;
    }
    #footer .ft_con_wrap .service h3{
        font-size: 18px;
        text-align: center;
    }
    #footer .ft_con_wrap .service ul li{
        text-align: center;
    }
    #footer .ft_con_wrap .service ul li p{
        display: inline-block;
        padding-left: 23px;
        font-size: 12px;
        line-height: 15px;
    }
    #footer .ft_con_wrap .service ul .tel p{
        background-size: 15px;
    }
    #footer .ft_con_wrap .service ul .kakao p{
        background-size: 15px;
    }
    #footer .ft_con_wrap .caption {
        width: auto;
    }
    #footer .ft_con_wrap .caption p{
        margin-bottom: 17px;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
    }
    #footer .ft_con_wrap .caption .logo_bg{
        float: none;
        width: 72px;
        height: 20px;
        margin: 0 auto; 
        background-size: 72px;
    }
    

}

