@charset "utf-8";

/*
 * File       : reset.css
 * Author     : m-sync (baeyoungseop)
 *
 * SUMMARY:
 * 1) RESET
 */




html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0; vertical-align: top; letter-spacing: -0.05em; font-size: 14px;text-decoration: none;text-transform: none;}
fieldset,img {border: 0}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {display: block;}
button,input { border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; padding: 0; margin: 0; outline: none;}
body {-webkit-text-size-adjust:none;}
ol, ul {list-style: none;}
address,em {font-style: normal}
h1,h2,h3,h4,h5,h6 {font-weight: 400;}
table {
	border-collapse: collapse;
	border-spacing: 0;
	width:100%;
}
iframe {overflow: hidden; border: 0;}
input::-ms-clear {
    display: none;
}
input {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
 }

.blind {position:absolute; width:1px !important; height:1px !important; overflow:hidden; margin:-1px; clip:rect(0 0 0 0); border: 0; padding: 0;}
.clearfix:after {content: ''; display: block; clear: both;}
button {cursor:pointer; border:none; margin:0; padding:0;}
input,button,select {vertical-align:middle;}

* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	text-decoration:none; -webkit-tap-highlight-color:transparent;
	font-family: 'Roboto', 'Noto Sans KR', sans-serif;
	color: #152a40;
}
select{
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
} 
select::-ms-expand{
	display:none;
}
.img_wrap > img {
	display: inline-block;
	max-width: 100%;
}
